/* NOSOTROS */

#nosotros {
    margin: 10px;
    main {
        background-image: url(../IMG/bg-jp_performance.jpg);
        background-size: cover;
        margin: 10px 0px;
        padding: 30px;  
        min-height: 550px;
    }
    // aqui uso COMPONENTES/caja_transparente
}
#equipo{
    .grid-equipo{
        display: grid;
        grid-template-columns: 1fr 1fr;
     // aqui uso COMPONENTES/caja_nosotros   
    }
}