/* NOSOTROS */

#nosotros {
    margin: 10px;
    main {
        background-image: url(../IMG/bg-jp_performance.jpg);
        background-size: cover;
        margin: 10px 0px;
        padding: 30px;  
        min-height: 550px;
    }
    // aqui uso COMPONENTES/caja_transparente
}