* {
    margin: 0px;
}

header {
    background-color: #F5EDE8;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

header img {
    height: 80px;
    border: 2px solid;
}

header h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    border: 2px solid;

    /* este titulo me gustaria que me quede centrado verticalmente y pegado al lado derecho de mi logo */

    /* display: flex; */
    justify-self: left;
    /* Porque este justify-self no funciona para pegar mi titulo a mi imagen???? no lo quiero centrado horizontalmente */
}

header ul {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

    border: 2px solid;
    padding: 0px;
    display: flex;
}

header li {
    background-color: white;
    list-style-type: none;

    border: 1px solid;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px 15px;
}



#intro {
    background-image: url(img/fondo-madera-engranaje.jpg);
    background-size: cover;
    /* aca me gustaria poder ponerle mas trasparencia a la imagen de fondo*/
    /* tambien lograr que se adapte al tamano de la pantalla */
}

#intro h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
}

#intro p {
    /* me gustaria que tanto el subtitulo como el texto quede como una especie de caja aptativa al tamano de la pantalla */
}

section h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

section img {
    /* modificar el tamano de las imagenes, que sea dinamico en base a una cuadricula prestablecida */
}

footer {
    background-color: #F5EDE8;
}

footer h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* me encantaria centrar verticalmente el titulo 
    y tambien poder modificar tamanos relativos de las imagenes*/
    /* ademas me gustaria lograr que tanto el icon de whatsapp como contacto queden ambos orientados a la derecha  */
}