/* FONTS_STYLES */

.titulo_h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
    font-weight: 100 !important;
    margin: 30px;

}
.titulo_h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    margin: 10px 0px 20px 50px;
}
.parrafo_sub_h3 {
    font-size: 1.5rem;
    font-weight: 600;
}
.listas_h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}
.listas{
    li{
        font-size: 1.2rem;
    }
}


