/* RESET */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f7e4be;
}

/* NAVBAR */

.navbar {
    background-color: #b85420;
}

.nav-item {
    margin: 3px;
}

.titulo-navbar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}